PORT=<the port this app will be available on>
BOT_API_KEY=<your Telegram bot API key>
WEBHOOK_URL=<the URL this app is available by (the ngrok generated URL in case of local development)>
ENVIROMENT=<local(use long polling automatically)/cloud(use webhooks automatically)>
TZ=<the timezone of the server; default will be UTC>
API_TRACKERS=<json array with public API URL's for tracking*>
SCRAPER_TRACKERS=<json array with public API URL's for tracking*>

# *Format:
# [
#   {
#     "code": "<string> trackerCode - an arbitrary value to identify each tracking URL; must be unique for each URL; cannot contain the following symbols: '_', '/', ' ' (space)",
#     "dataUrl":"<string> the public API URL for accessing data",
#     "viewUrl":"<string> the website URL to add to the user notification message",
#     "interval":"<string> tracker run interval; format: '1h'; available interval types: "m" - minutes, "h" - hours, "d" - days", 
#     "notifyCriteria":"<[{"operator": "", value: 0}]> a list with the criteria for sending notifications; available operators: '<'|'<='|'='|'>='|'>'; notification calculation logic: [extracted value <notifyCriteria> notifyValue]",
#     "dataExtractionPath":"<[string] the path to the value in the response JSON; format: uses gson query syntax - https://github.com/tidwall/gjson>"
#   }
# ]

# Example:
# API_TRACKERS="[\
#   {\
#     \"code\": \"tracker1\",\
#     \"dataUrl\": \"https://api1.com\",\
#     \"viewUrl\": \"https://view1.com\",\
#     \"interval\": \"5m\",\
#     \"notifyCriteria\": [\
#       {\
#         \"operator\": \">=\",\
#         \"value\": \"100\"\
#       }\
#     ],\
#     \"dataExtractionPath\": \"price\"\
#   }\
# ]"

# SCRAPER_TRACKERS="[\
#   {\
#     \"code\": \"scraper1\",\
#     \"dataUrl\": \"https://scrape1.com\",\
#     \"viewUrl\": \"https://view1.com\",\
#     \"interval\": \"5m\",\
#     \"notifyCriteria\": [\
#       {\
#         \"operator\": \">=\",\
#         \"value\": \"100\"\
#       }\
#     ],\
#     \"dataExtractionPath\": \".price-selector\"\
#   }\
# ]"